/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
    font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
    line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
    overflow-y: scroll; /* [2] */
    min-height: 100%; /* [3] */

    color: rgba(79, 79, 79, 1);
}

a {
    color: rgba(68, 124, 178, 1);
    text-decoration: none;
}

.wrapper {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-right: $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;

    @include media-query(portable) {
        padding-right: $inuit-global-spacing-unit / 2;
        padding-left: $inuit-global-spacing-unit / 2;
        max-width: 100%;
    }
}
