<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block page_title %}{% endblock %} | PHP Warwickshire</title>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="wrapper">

            <header>
                <h1>PHP Warwickshire</h1>
                <p>
                    A PHP user group based in Coventry City, UK
                </p>
            </header>

            <nav>
                <ul class="o-list-bare">
                    {#<li>#}
                        {#<a href="/">Welcome</a>#}
                    {#</li>#}
                    <li>
                        Join our <a href="http://www.meetup.com/PHP-Warwickshire" target="_blank">Meetups Channel</a>
                    </li>
                    <li>
                        Follow us on Twitter, <a href="http://twitter.com/phpwarks" target="_blank">@phpwarks</a>
                    </li>
                    <li>
                        Join us on <a href="http://phpwarks.herokuapp.com/" target="_blank">slack</a>
                    </li>
                    {#<li class="navigation--item">#}
                        {#<a href="/events">Events</a>#}
                    {#</li>#}
                    {#<li class="navigation--item">#}
                        {#<a href="/contact">Contact Us</a>#}
                    {#</li>#}
                    {#<li class="navigation--item">#}
                        {#<a href="/our-sponsors">Our Sponsors</a>#}
                    {#</li>#}
                    {#<li class="navigation--item">#}
                        {#<a href="/communities">Communities</a>#}
                    {#</li>#}
                    {#<li class="navigation--item">#}
                        {#<a href="/get-involved">Get Involved</a>#}
                    {#</li>#}
                </ul>
            </nav>
           {% block body %}
            {% endblock %}

            <p><strong>Sponsors:</strong> <a href="https://twitter.com//EC_Futures" target="_new">EC Futures</a></p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                {% block jquery %}{% endblock %}
            });
        </script>
    </body>
</html>

