{% extends '@Base/base.html.twig' %}

{% block page_title %}Events{% endblock %}

{% block body %}
    <p>Welcome to PHP Warwickshire Events</p>

    <p>View by <a href="/events/past">past</a> events</p>
    <p>A full list of <a href="/events/upcoming">upcoming</a> talks and events</p>
    <p><a href="/events/request-a-talk">Request</a> a talk</p>
    <p><a href="/events/propose-a-talk">Propose</a> a talk</p>
{% endblock %}
