{% extends '@Base/base.html.twig' %}

{% block page_title %}Upcoming Events{% endblock %}

{% block body %}
    <p>Events in <a href="/events/past/2015">2015</a></p>
    <p>Events in <a href="/events/past/2016">2016</a></p>
{% endblock %}
